In [2]:
import pandas as pd
import os

trees_in_paris = pd.read_csv("arbres.csv",sep =';',error_bad_lines=False)

In [3]:
trees_in_paris.head()

,IDBASE,TYPEEMPLACEMENT,DOMANIALITE,ARRONDISSEMENT,COMPLEMENTADRESSE,NUMERO,LIEU / ADRESSE,IDEMPLACEMENT,LIBELLEFRANCAIS,GENRE,ESPECE,VARIETEOUCULTIVAR,CIRCONFERENCEENCM,HAUTEUR (m),STADEDEVELOPPEMENT,REMARQUABLE,geo_point_2d
0,187798.0,Arbre,DASCO,PARIS 16E ARRDT,NaN,NaN,MURAT (162) MAT,06060009,Platane,Platanus,x hispanica,NaN,188.0,16.0,A,0.0,"48.8387376412, 2.26456759971"
1,190967.0,Arbre,DASCO,PARIS 13E ARRDT,NaN,NaN,ECOLE ELEMENTAIRE / 64 RUE DUNOIS,108201012,Poirier,Pyrus,n. sp.,NaN,35.0,5.0,A,0.0,"48.8332674645, 2.36771662872"
2,197006.0,Arbre,PERIPHERIQUE,PARIS 20E ARRDT,NaN,NaN,TALUS N°30-02,093002002,Marronnier,Aesculus,x carnea,NaN,50.0,5.0,J,0.0,"48.8585405151, 2.41450277624"
3,197936.0,Arbre,DJS,PARIS 13E ARRDT,NaN,NaN,TEP DOCTEUR LAURENT / 12 RUE DU DOCTEUR LAURENT,00070013,Robinier,Robinia,pseudoacacia,NaN,115.0,8.0,A,0.0,"48.8252829198, 2.35598234101"
4,253644.0,Arbre,Alignement,PARIS 16E ARRDT,NaN,NaN,RUE MICHEL ANGE,000901011,Erable,Acer,platanoides,NaN,60.0,10.0,A,0.0,"48.8401858552, 2.25816135331"

In [ ]:
trees_in_paris['HAUTEUR_Q'] = pd.qcut(trees_in_paris['HAUTEUR (m)'].values, 5)

In [ ]:
trees_hauteur = trees_in_paris[['ARRONDISSEMENT','HAUTEUR_Q']].groupby(['ARRONDISSEMENT','HAUTEUR_Q']).size()

In [ ]:
writer = pd.ExcelWriter('trees_hauteur.xlsx')
trees_hauteur.to_excel(writer,'Sheet1')
writer.save()

In [ ]:
trees_in_paris[['STADEDEVELOPPEMENT']].drop_duplicates()

In [ ]:
len([384,3510,4442,379,187,584,2083,858,5957,1604,2340,1250,3182,352,2824,56,41,101,121,31,234,332,158,6487,3848])

In [5]:
trees_in_paris[['ARRONDISSEMENT','TYPEEMPLACEMENT']].groupby(['ARRONDISSEMENT','TYPEEMPLACEMENT']).size()

ARRONDISSEMENT     TYPEEMPLACEMENT
BOIS DE BOULOGNE   Arbre               4089
BOIS DE VINCENNES  Arbre              11508
HAUTS-DE-SEINE     Arbre               5359
PARIS 10E ARRDT    Arbre               3418
PARIS 11E ARRDT    Arbre               5709
PARIS 12E ARRDT    Arbre              12604
PARIS 13E ARRDT    Arbre              16786
PARIS 14E ARRDT    Arbre              11913
PARIS 15E ARRDT    Arbre              17216
PARIS 16E ARRDT    Arbre              16616
PARIS 17E ARRDT    Arbre              10758
PARIS 18E ARRDT    Arbre               9921
PARIS 19E ARRDT    Arbre              13697
PARIS 1ER ARRDT    Arbre               1666
PARIS 20E ARRDT    Arbre              15429
PARIS 2E ARRDT     Arbre                545
PARIS 3E ARRDT     Arbre               1197
PARIS 4E ARRDT     Arbre               2728
PARIS 5E ARRDT     Arbre               2423
PARIS 6E ARRDT     Arbre               1778
PARIS 7E ARRDT     Arbre               8730
PARIS 8E ARRDT     Arbre               7291
PARIS 9E ARRDT     Arbre               1183
SEINE-SAINT-DENIS  Arbre              11588
VAL-DE-MARNE       Arbre               7532
dtype: int64

In [ ]:
writer = pd.ExcelWriter('trees_price.xlsx')
trees_price.to_excel(writer,'Sheet1')
writer.save()

In [4]:
trees_in_paris[['TYPEEMPLACEMENT']].count()

TYPEEMPLACEMENT    201684
dtype: int64